*.nupkg
bin
obj
/.vs/Plugin.XF.Controls/DesignTimeBuild/.dtbcache
/.vs/Plugin.XF.Controls/v16/.suo
/.vs/Plugin.XF.Controls/v16/Server/sqlite3/db.lock
/.vs/Plugin.XF.Controls/v16/Server/sqlite3/storage.ide
/.vs/Plugin.XF.Controls/v16/Server/sqlite3/storage.ide-shm
/.vs/Plugin.XF.Controls/v16/Server/sqlite3/storage.ide-wal
/.vs/Plugin.XF.Controls/DesignTimeBuild/.dtbcache.v2
.vs
